.addTodoContainer {
  width: 600px;
  height: 400px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #c3cbd6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.addTodoGobackbtn {
  margin: 5px 75%;
  height: 40px;
  width: 140px;
  border: 2px solid #d05663 !important;
  background-color: white !important;
  color: #d05663 !important;
}
.addTodoGobackbtn:hover,
.addTodoGobackbtn:active {
  background: #d05663 !important;
  border-color: #9aa1aa !important;
  color: white !important;
}
.formContainer {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  gap: 15px;
  padding: 15px;
}
.inputTitleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputTitle {
  width: 83%;
  height: 40px;
  margin: 10px auto;
  resize: none;
  line-height: 40px;
  border-color: rgb(184, 176, 176);
  padding: 0 15px;
}
.inputContentDiv {
  display: flex;
  align-items: center;
}
.inputContent {
  width: 83%;
  height: 50px;
  margin: 10px auto;
  resize: none;
  padding: 5% 15px 2% 15px;
  border-color: rgb(184, 176, 176);
}
.inputWhenSelect {
  /* display: flex;
  height: 20px;
  background-color: palevioletred;
  margin: 10px auto; */
  display: flex;
  gap: 70px;
  margin: 0 auto;
}
[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: 1.5px solid white;
  border-radius: 10px;
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
}
[type="radio"]:checked {
  background-color: #d05663;
}
.addTodoBtn {
  height: 40px;
  width: 140px;
  margin: 10px auto;
}
.addTodoBtn:hover,
.addTodoBtn:active {
  background: #be4c57 !important;
}
