.state {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 330px;
  height: 60px;

  font-size: 40px;
  font-weight: 600;

  background-color: #949799;
  color: black;

  border-radius: 10px;
}
