/* .card {
  border: 2px solid rgb(238, 238, 238);
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
} */
.wrap {
  width: 1000px;
  height: 900px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
  background-color: #c3cbd6;
}

.h1 {
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 10px;
  -webkit-box-align: center;
  align-items: center;
}

.btn1 {
  width: 120px;
  height: 40px;
  border: 1px solid rgd(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
}

.btn {
  float: right;
  align-items: center;
}

.btn2 {
  width: 120px;
  height: 40px;
  border: 1px solid rgd(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.btn3 {
  width: 120px;
  height: 40px;
  border: 1px solid rgd(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
  float: right;
}

.maintitle {
  margin-left: 10px;
}
.title {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 50px;
}

.content {
  margin-left: 10px;
  font-size: 40px;
}

.remove {
  margin: 10px;
  width: 900px;
  height: 340px;
  border-radius: 6px;
  border: 1px solid #ba4c57;
  outline: none;
}
