.planCard {
  width: 300px;
  height: 240px;

  display: flex;
  flex-direction: column;

  padding: 15px;

  color: white;
  background-color: var(--color-todos);

  font-size: 25px;

  border-radius: 10px;
}

.workingCard {
  width: 300px;
  height: 240px;

  display: flex;
  flex-direction: column;

  padding: 15px;

  color: white;
  background-color: var(--color-done);

  font-size: 25px;

  border-radius: 10px;
}

.doneCard {
  width: 300px;
  height: 240px;

  display: flex;
  flex-direction: column;
  padding: 15px;

  color: white;
  background-color: var(--color-working);

  font-size: 25px;

  border-radius: 10px;
}

.detailbtn {
  width: 110px;
  height: 60px;

  margin-right: auto;

  background-color: transparent !important;

  font-size: 20px !important;
  font-weight: bolder;

  border: none !important;
  border-radius: 10px;
}

.arrowbtn {
  width: 100px;

  margin-left: auto;

  background-color: transparent !important;

  border: none !important;
}

.titlestyle {
  margin: auto;
}

p {
  width: 200;
  height: 70px;

  display: flex;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
}

p.auto {
  overflow: auto;
}
