.box {
  display: flex;
  flex-direction: row;
  gap: 20px;

  min-height: 1100px;

  justify-content: center;
}

.btnbox {
  text-align: right;
  margin: 20px 20px 20px 0;
}

.header {
  display: flex;
  align-items: center;

  font-size: 40px;
  font-weight: bold;

  padding-left: 20px;
  margin-top: 30px;
  height: 70px;

  border-radius: 10px;

  background-color: #949799;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;

  background-color: #949799;
  color: black;

  margin: 30px 0px 30px 0px;
  height: 70px;

  border-radius: 10px;
}

.layout {
  max-width: 1200px;
  min-width: 900px;

  display: flex;
  flex-direction: column;

  margin: auto;
}
