.addbtn {
  margin-left: auto;
  width: 200px;
  height: 60px;
  background-color: #434343;
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
}

.detailbtn {
  margin-right: auto;
  width: 100px;
  height: 45px;
  background-color: #339f0b;
  font-size: medium;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
}

.arrowbtn {
  width: 100px;
  height: 50px;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
